<section class="featured-collection-slider">
	<div class="container">
		<div class="section-title badge bg-danger">
			<h3 class="display-6">{{ section_settings.collection_title }}</h3>
		</div><!-- /.section-title -->
		<div class="featured-collection-slider__arrows">
			<div class="slick-arrows-wrapper"></div><!-- /.slick-arrows-wrapper -->
		</div><!-- /.featured-collection-slider_arrows -->
		<div class="collection-slider">
			{% assign products = collections.products | reverse %}
			{% for product in products limit: 8 %}
				{% if product.available == true %}
					<div class="item">
						<div class="card">
							<div class="product-img">
								{{ product.featured_image | img_url: 'master' | img_tag: '', 'card-img-top' }}
							</div><!-- /.product-img -->
							<div class="card-body">
								<a href="{{ product.url }}" title="{{ product.title }}"><h5 class="card-title">{{ product.title }}</h5></a>
								<p class="card-text">{{ product.price | money_with_currency }}</p>
								<a href="#0" class="btn btn-primary">View Details</a>
							</div><!-- /.card-body -->
						</div><!-- /.card -->
					</div><!-- /.item -->
				{% endif %}
			{% endfor %}
		</div><!-- /.collection-slider -->
	</div><!-- /.container -->
</section><!-- /.featured-collection-slider -->