{% style %}
.section-padding {
	padding: 40px 0;
}
{% endstyle %}

<div class="container">
	<div class="row">
		<div class="col-12">
			<h5 class="text-center display-6 mb-5">{{  }}</h5>
		</div>
		<div class="col-12">
			<div class="product-table-wrapper shadow py-5 px-3 rounded-3">
				<table class="table table-striped table-hover align-middle">
					<thead>
						<tr>
							<th scope="col-auto">#</th>
							<th scope="col-auto">Product</th>
							<th scope="col-auto">Price</th>
							<th scope="col-auto">Quantity</th>
							<th scope="col-auto">Total</th>
						</tr>
					</thead>
					<tbody>
						{% for item in cart.items %}
							<tr>
								<th scope="row">{{ forloop.index }}</th>
								<td>
									<div class="product d-flex">
										{{ item.image | img_url: 'master' | img_tag: '', 'img-thumbnail' }}
										<a href="#0" class="ms-2"><h6>Apple Watch</h6></a>
									</div>
								</td>
								<td> {{ item.final_price | money_with_currency }} </td>
								<td>
									<form action="" style="max-width: 150px;">
										<div class="input-group">
											<button type="button" class="btn btn-secondary form-control cart-btn-decrease">-</button>
											<input type="text" value="{{ item.quantity }}" class="form-control input-group-text">
											<button type="button" class="btn btn-secondary form-control cart-btn-increase">+</button>
										</div><!-- /.input-group -->
									</form><!-- /.form -->
								</td>
								<td>{{ item.final_line_price | money_with_currency }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table><!-- /.table -->
			</div><!-- /.product-table-wrapper -->
		</div><!-- /.col-12 -->
	</div><!-- /.row -->
</div><!-- /.container -->

{% javascript %}

	let btnsDecrease = document.querySelectorAll('.cart-btn-decrease');
	let btnsIncrease = document.querySelectorAll('.cart-btn-increase');

	btnsDecrease.forEach(btn => {
		btn.addEventListener('click', () => {
			let quantity = parseInt(btn.nextElementSibling.value);
			console.log(quantity);
			if (quantity > 1) {
				btn.nextElementSibling.value = quantity - 1;
			}
		});
	});

	btnsIncrease.forEach(btn => {
		btn.addEventListener('click', () => {
			let quantity = parseInt(btn.previousElementSibling.value);
			console.log(quantity);
			btn.previousElementSibling.value = quantity + 1;
		});
	});

	
{% endjavascript %}

{% schema %}
{
	"name": "Cart Items",
	"tag": "section",
	"class": "cart-details section-padding",
	"settings": [
		{
			"type": "text",
			"id": "section_heading",
			"label": "Section Heading",
			"default": "Your Shopping Cart"
		},
		{
			"type": "checkbox",
			"id": "show_vendors",
			"label": "Show vendors?",
			"default": false
		}
	]
}
{% endschema %}