<section class="product-details section-padding">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-6">
				<div class="main-product-image">
					<a href="{{ product.featured_image | img_url: 'master' }}" data-lightbox="product-image" data-title="Image Caption">
						{{ product.featured_image | img_url: 'master' | img_tag: '' }}
					</a><!-- /a -->
				</div><!-- /.main-product-image -->
				<div class="product-images">
					{% for image in product.images %}
						{% if forloop.first %}
							{% continue %}
						{% else %}
							<div class="product-image-wrapper">
								<a href="{{ image | img_url: 'master' }}" data-lightbox="product-image" data-title="Image Caption">
									<div class="product-image">
										{{ image | img_url: 'master' | img_tag: '' }}
									</div><!-- /.product-image -->
								</a><!-- /a -->
							</div><!-- /.product-image-wrapper -->
						{% endif %}
					{% endfor %}
				</div><!-- /.product-images -->
			</div><!-- /.col-12 -->
			<div class="col-12 col-md-6">
				<a href="#0" class="badge badge-pill bg-info">{{ product.vendor | capitalize }}</a>
				<h4>{{ product.title }}</h4>
				{% unless product.compare_at_price == blank %}
					<p>{{ 'Normal Price:' }} <del class="text-muted">{{ product.compare_at_price | money_with_currency }}</del></p>
				{% endunless %}
				<p>{% if product.compare_at_price == blank %}{{ 'Price: ' }}{% else %}{{ 'Offer: ' }}{% endif %}<span class="h3"><strong>{{ product.price | money_with_currency }}</strong></span></p>
				{% form 'product', product %}
				<div class="w-50">
					{{ product.variants.size }}
					{% if product.variants.size > 1 %}
						<p>{{ 'Variants:' }}</p>
						<select name="id" class="form-select mb-3">
							{% for variant in product.variants %}
								<option value="{{ variant.id }}" {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %}>
									{{ variant.title }} - {{ variant.price | money_with_currency }}
								</option>
							{% endfor %}
						</select>
					{% else %}
						<input type="hidden" name="id" value="{{ product.first_available_variant.id }}">
					{% endif %}
					<p>{{ 'Quantity:' }}</p>
					<div class="input-group">
						<button type="button" class="btn btn-secondary form-control decrease">-</button>
						<input type="text" name="quantity" min="1" value="1" class="form-control input-group-text quantity">
						<button type="button" class="btn btn-secondary form-control increase">+</button>
					</div><!-- /.input-group -->
				</div><!-- /.w-50 -->

				<div class="product-ctas mt-4">
					<input type="submit" class="btn btn-outline-success w-100 mt-1 mb-2" value="Add to cart">
					{{ form | payment_button }}
				</div><!-- /.product-ctas -->
				{% endform %}
				<div class="description mt-4">
					<p>{{ product.description }}</p>
					{% for tag in product.tags %}
						{{ '#' | append: tag }}
					{% endfor %}
				</div>
			</div><!-- /.col-12 -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /.product-details -->

{% javascript %}
	let btnIncrease = document.querySelector('.btn.increase');
	let btnDecrease = document.querySelector('.btn.decrease');
	let inputQuantity = document.querySelector('.form-control.quantity');

	btnIncrease.addEventListener('click', function() {
		inputQuantity.value = parseInt(inputQuantity.value) + 1;
	});
	
	btnDecrease.addEventListener('click', function() {
		if (parseInt(inputQuantity.value) > 1) {
			inputQuantity.value = parseInt(inputQuantity.value) - 1;
		}
	});
{% endjavascript %}